.godot/
.import/
*.import
Gangsta Wizards/Main/BUILDINGS/Utility and Misc/Water Tower.glb.import
Gangsta Wizards/Main/BUILDINGS/Utility and Misc/Construction Skyscraper.glb.import
Gangsta Wizards/Main/BUILDINGS/Utility and Misc/Arboretum.glb.import
Gangsta Wizards/Main/BUILDINGS/Residential/R-3/Wizard Tower.glb.import
Gangsta Wizards/Main/BUILDINGS/Residential/R-3/808 Hawk.glb.import
Gangsta Wizards/Main/BUILDINGS/Residential/R-3/742 Evergreen Terrace.glb.import
Gangsta Wizards/Main/BUILDINGS/Residential/R-3/308 Negra Arroyo Lane.glb.import
Gangsta Wizards/Main/BUILDINGS/Residential/R-3/123 Rainey Street.glb.import
Gangsta Wizards/Main/BUILDINGS/Residential/R-2/Gourd Apartments.glb.import
Gangsta Wizards/Main/BUILDINGS/Residential/R-2/Gourd Apartments 2.glb.import
Gangsta Wizards/Main/BUILDINGS/Residential/R-1/Cheap Motel.glb.import
Gangsta Wizards/Main/BUILDINGS/Residential/R-1/Casino Hotel.glb.import
Gangsta Wizards/Main/BUILDINGS/Mixed Use/Strip Mall 3.glb.import
Gangsta Wizards/Main/BUILDINGS/Mixed Use/Strip Mall 2.glb.import
Gangsta Wizards/Main/BUILDINGS/Mixed Use/Strip Mall 1.glb.import
Gangsta Wizards/Main/BUILDINGS/Mixed Use/Asian Strip Mall.glb.import
Gangsta Wizards/Main/BUILDINGS/Assembly/A-2/White House.glb.import
Gangsta Wizards/Main/BUILDINGS/Assembly/A-2/BBQ Restaurant.glb.import
